{% if(message)%}
    {{message}}
{% endif %}
<center><h2>Liste des employés</h2></center>
{% for employe in ensEmploye %}
<table cellspacing="3" bgcolor="#000000">
	<tr bgcolor="#ffffff">
		<th>nom</th>
        <th>prenom</th>
        <th>Inscription</th>
	</tr>
	<tr bgcolor="#ffffff">
		<td>{{ employe.nom}}</td>
        <td>{{ employe.prenom}}</td>
        <td><a href ="afficheAllInscriptionEmploye/{{ employe.id}}">Afficher</a></td>
	</tr>
</table>
<br>
{% endfor %}

<a href ="{{path('app_aff')}}">Retour Menu</a><br>

<style>
h2 {
  font-family: "Dancing Script", cursive;
  width: 100%;
  line-height: 150px;
  font-size: 70px;
  text-align: center;
  color: var(--link-color);
}
table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 50%;
  table-layout: fixed;
  margin-left: auto;
  margin-right: auto;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}

/* general styling */
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
}
</style>